<!DOCTYPE html>
<html>
  <head>
    <title>Anemobox configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <center><h3>Anemobox configuration</h3></center>
    <div class="center-block">
      <dl class="dl-horizontal">
        <dt> NMEA0183 speed </dt>
        <dd>
          <select id="nmea0183Speed" class="form-control">
            <option value="4800">4'800</option>
            <option value="9600">9'600</option>
            <option value="38400">38'400</option>
            <option value="19200">19'200</option>
            <option value="57600">57'600</option>
            <option value="115200">115'200</option>
          </select>
        </dd>
      </dl>
      <dl id="dataTable" class="dl-horizontal">
      </dl>
      <dl class="dl-horizontal">
        <dt><label for="logRawNmea2000">Log raw NMEA 2000</label></dt>
	<dd><input type="checkbox" 
	  id="logRawNmea2000" 
          name="logRawNmea2000"/></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt><label for="sendNmea2000">Send NMEA 2000 data</label></dt>
	<dd><input type="checkbox" 
	  id="sendNmea2000" 
          name="sendNmea2000"/></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt><label for="outputNmea2000">Output NMEA 2000</label></dt>
	<dd><input type="checkbox" 
	  id="outputNmea2000" 
          name="outputNmea2000"/></dd>
      </dl>
    </div>
    <p class="body-link"><a href="/">Input data</a></p>
    <p class="body-link"><a href="/allSources.html">Detailed input data</a></p>
    <p class="body-link"><a href="3d.html">3D view</a></p>
    <p class="body-link"><a href="reset.html">Factory reset</a></p>

    <script src="jquery.min.js"></script>
    <script>
    function formatDate(date) {
      var d = new Date(date);
      return d.toLocaleString();
    }

    function resolve(obj, keys) {
      var r = obj;
      for (var i in keys) {
        var k = keys[i];
        if (!(k in r)) {
          return undefined;
        }
        r = r[k];
      }
      return r;
    }

    var tableEntries = [
      { name: 'Boat name', keys: ['boxConfig', 'boatName'] },
      //{ name: 'NMEA 0183 port speed', keys: ['boxConfig', 'nmea0183Speed'] },
      { name: 'IP Address', keys: ['networkInfo', 'address'] },
      { name: 'System time', keys: ['date'], format: formatDate },
      { name: 'Firmware version', keys: ['version'] },
    ];

    var loadedConfig;

    function initializeCheckbox(dstId, srcValue) {
      var box = document.getElementById(dstId);
      box.checked = srcValue;
      return box;
    }
    
    function makeGuiConsistent() {
      var sendBox = document.getElementById("sendNmea2000");
      var outputBox = document.getElementById("outputNmea2000");
      sendBox.disabled = !outputBox.checked;
    }

    function readConfig(data) {
          loadedConfig = data;
          $('#nmea0183Speed option[value=' 
            + data.boxConfig.nmea0183Speed + ']')
            .prop('selected', true);
	  
	  initializeCheckbox("logRawNmea2000", data.boxConfig.logRawNmea2000);
	  initializeCheckbox("sendNmea2000", data.boxConfig.sendNmea2000);
	  initializeCheckbox("outputNmea2000", data.boxConfig.outputNmea2000);
	  makeGuiConsistent();
	  	
	  
          var table = $('#dataTable');
          table.html('');

          for (var i in tableEntries) {
            var entry = tableEntries[i];
          
            var row = $('<dl></dl>');
            row.append('<dt>' + entry.name + '</dt>');
            var value = resolve(data, entry.keys);
            if ('format' in entry) {
              value = entry.format(value);
            }
            row.append('<dd>' + (value || "") + '</dd>'); 
            table.append(row);
          }
        }

    function fetchConfig() {
      $.ajax({
        url: "api/config/",
        type: "GET",
        success: readConfig,
        dataType: "json",
        timeout: 200
      })
    };

    function changeBoxConfig(key, value) {
        if (value == loadedConfig.boxConfig[key]) {
          // no need to change identical value
          return;
        }
        var changeObject = {};
        changeObject[key] = value;
        $.ajax({
          url: "/api/config/",
          type: "PUT",
          dataType: "json",
          headers: { "Content-Type": "application/json"},
          data: JSON.stringify(changeObject),
          success: function(data) {
            loadedConfig.boxConfig = data;
            readConfig(loadedConfig);
          }
        });
    }

    $(document).ready(function(){   
      fetchConfig();
      $("#nmea0183Speed").change(function(e){
        var newSpeed = $("#nmea0183Speed option:selected").val();
        changeBoxConfig('nmea0183Speed', newSpeed);
      });
      $("#logRawNmea2000").change(function(e) {
        changeBoxConfig("logRawNmea2000", this.checked);
      });
      $("#sendNmea2000").change(function(e) {
        changeBoxConfig("sendNmea2000", this.checked);
      });
      $("#outputNmea2000").change(function(e) {
        changeBoxConfig("outputNmea2000", this.checked);
	makeGuiConsistent();
      });
    });
  </script>
  </body>
</html>
