<!DOCTYPE html>
<html>
  <head>
    <title>Anemobox configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <center><h3>Anemobox configuration</h3></center>
    <table id="dataTable" class="table">
    </table>

    <p style="text-align:center;"><a href="/">Input data</a></p>
    <p style="text-align:center;"><a href="/allSources.html">Detailed input data</a></p>
    <p style="text-align:center;"><a href="3d.html">3D view</a></p>

    <script src="jquery.min.js"></script>
    <script>
    function formatDate(date) {
      var d = new Date(date);
      return d.toLocaleString();
    }

    function resolve(obj, keys) {
      var r = obj;
      for (var i in keys) {
        var k = keys[i];
        if (!(k in r)) {
          return undefined;
        }
        r = r[k];
      }
      return r;
    }

    var tableEntries = [
      { name: 'Boat name', keys: ['boxConfig', 'boatName'] },
      { name: 'NMEA 0183 port speed', keys: ['boxConfig', 'nmea0183Speed'] },
      { name: 'IP Address', keys: ['networkInfo', 'address'] },
      { name: 'System time', keys: ['date'], format: formatDate },
    ];
    function readConfig() {
      $.ajax({
        url: "api/config/",
        type: "GET",
        success: function(data) {
          var table = $('#dataTable');
          table.html('');

          for (var i in tableEntries) {
            var entry = tableEntries[i];
          
            var row = $('<tr></tr>');
            row.append('<td style="width:30%">' + entry.name + '</td>');
            var value = resolve(data, entry.keys);
            if ('format' in entry) {
              value = entry.format(value);
            }
            row.append('<td>' + (value || "") + '</td>'); 
            table.append(row);
          }
        },
        dataType: "json",
        timeout: 200
      })
    };

    readConfig();
  </script>
  </body>
</html>
