<!DOCTYPE html>
<html>
  <head>
    <title>Live View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <center><h3>Live Data</h3></center>
    <table id="dataTable" class="table">
    </table>

    <p style="text-align:center;"><a href="3d.html">3D view</a></p>

    <script src="jquery.min.js"></script>
    <script>
    function getTitle(entry) {
      var labels = {
        aws: "apparent wind speed",
        twa: "true wind angle",
        tws: "true wind speed",
        twdir: "true wind direction",
        gpsSpeed: "GPS speed",
        gpsBearing: "GPS bearing",
        magHdg: "magnetic heading",
        watSpeed: "water speed",
        watDist: "distance over water",
        pos: "GPS position",
        dateTime: "GPS date and time (local time)",
        targetVmg: "Target VMG",
        vmg: "VMG",
        orient: "anemobox orientation"
      };
      return (entry in labels ? labels[entry] : entry);
    }

    function formatAngle(value) {
      return value.toFixed(1) + '&deg;';
    }
    function formatSpeed(value) {
      return value.toFixed(1) + ' kn';
    }
    function formatLength(value) {
      return value.toFixed(2) + ' nm';
    }
    function formatDate(date) {
      var d = new Date(date);
      return d.toLocaleString();
    }

    function getValue(data, entry) {
      var fmt = {
        awa: formatAngle,
        aws: formatSpeed,
        twa: formatAngle,
        tws: formatSpeed,
        twdir: formatAngle,
        gpsSpeed: formatSpeed,
        gpsBearing: formatAngle,
        magHdg: formatAngle,
        watSpeed: formatSpeed,
        watDist: formatLength,
        pos: JSON.stringify,
        dateTime: formatDate,
        targetVmg: formatSpeed,
        vmg: formatSpeed,
        orient: JSON.stringify
      };
      if (entry in fmt) {
        return fmt[entry](data[entry])
      } else {
        return JSON.stringify(data[entry]);
      }
    };

    (function poll() {
      $.ajax({
        url: "api/live",
        type: "GET",
        success: function(data) {
          var table = $('#dataTable');
          table.html('');
          for (var entry in data) {
            var row = $('<tr></tr>');
            row.append('<td style="width:30%">' + getTitle(entry) + '</td>');
            row.append('<td>' + getValue(data, entry) + '</td>');
            table.append(row);
          }
        },
        dataType: "json",
        complete: setTimeout(function() {poll()}, 500),
        timeout: 200
      })
    })();
  </script>
  </body>
</html>
