LD_LIBRARY_PATH=/anemomind/lib/
PWD=/anemomind
HOME=/root
TERM=xterm
SHLVL=1
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
_=/usr/bin/env
SHELL=/bin/bash
MONGO_URL=mongodb://anemomongo:27017/anemomind-dev
* *  *   *   * bash /anemomind/bin/processNewLogs_DockerDev.sh >> /var/log/cron.log

