<footer class="footer">
  <div class="container">
    <div class="col-xs-12 col-sm-4">
      <ul>
      	<li class="dropdown-header">Keep in touch</li>
        <li>
					<div class="">
						<form class="" 
						action="//anemomind.us9.list-manage.com/subscribe/post?u=a7f91b86f442e712315c24bb8&id=1cffe9c117" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

							
							<div class="form-group">
								<label for="" class="">Email Address</label>
								<input placeholder="Email Address" type="email" value="" name="EMAIL" 
											 id="mce-EMAIL" tabindex="8" class="form-control" >
							</div>

							

				    	<!-- real people should not fill this in and expect good things - 
				    			 do not remove this or risk form bot signups -->
    					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a7f91b86f442e712315c24bb8_1cffe9c117" tabindex="-1" value=""></div>
    					<div class="clear">
    						<input type="submit" value="Sing Up Now" name="subscribe" id="mc-embedded-subscribe" 
    									 class="button btn btn-default  ">
    				  </div>

    				  <!-- MAILCHIMP FEEDBACK -->
							<div id="mce-responses" class="clear">
				        <div class="response" id="mce-error-response" style="display:none"></div>
				        <div class="response" id="mce-success-response" style="display:none"></div>
				    	</div>    


    				  <!-- MAILCHIMP -->
    				  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    				  <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

						</form>
						<div class="text">
							Don't worry, we hate spam too. We won't share your details with anyone.
						</div>
						
					</div>
        	
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
      <ul>
      	<li class="dropdown-header">Anemomind Sàrl</li>
        <li><a href="http://anemomind.com">&copy; 2016 Anemomind</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
      <ul>
<!--         <li class="dropdown-header">Hello</li>
        <li><a href="">Hello</a></li>
 -->      </ul>
    </div>        
  </div>
</footer>

