<!-- SAVE IT FOR LATER -->
<footer class="footer hide">
  <div class="container">
    <div class="col-xs-12 col-sm-4">
      <ul>
      	<li class="dropdown-header">Keep in touch</li>
        <li>
        	
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
      <ul>
      	<li class="dropdown-header">Features</li>
        <li><a href="http://anemomind.com/anemolab/features">Hello</a></li>        	
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
      <ul>
      	<li class="dropdown-header">Anemomind Sàrl</li>
        <li><a href="http://anemomind.com">&copy; 2016 Anemomind</a></li>
      </ul>
    </div>
  </div>
</footer>

