<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container rewards">
<div class="record">
    <div class="col-md-12">
        <div class="panel panel-default challenge-types">
            <div class="panel-body rewards-container">

                <div class="reward" ng-repeat="challenge in challenges">
                    <div class="name">
                        <div class="circle">
                            <label>{{challenge.name}}</label>
                            <i class="fa {{challenge.icon}}" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="bar-container">
                        <div class="heading">
                            <div class="left-side">
                                {{challenge.desc}} ...
                            </div>
                            <div class="right-side">
                                {{challenge.progress}} {{challenge.unit}}
                            </div>
                        </div>
                        <div class="shell">
                            <div class="level" ng-repeat="level in challenge.displayedLevels">
                                <span class="caption" ng-class="{'active' : challenge.level == level.level}">
                                    LEVEL {{level.level}}
                                </span>
                                <div class="bar" ng-repeat="bar in range(level.bars)">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                


                <div class="other-info">
                    <div class="circle">
                        <label>Community</label>
                        <div class="description">
                            Boat data sharing is enabled with others
                        </div>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="circle active">
                        <label>Share</label>
                        <div class="description">
                            Share at least one track on social media
                        </div>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="circle">
                        <label>Competitor</label>
                        <div class="description">
                            Get ranked in all challenges
                        </div>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="circle">
                        <label>The Ultimate</label>
                        <div class="description">
                            Get maximum ranking at each challenges excluding speed
                        </div>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</div>

<footer class="footer">
  <div class="container">
      <p><a href="http://anemomind.com">Anemomind</a></p>
  </div>
</footer>