*
!Dockerfile
!CMakeLists.txt
!cmake
!src
!lib
!bin

**/node_modules
src/device/anemobox/anemonode/build
src/server/nautical/logimport/weather4d/.build
src/third_party/NMEA2000/Examples
src/third_party/NMEA2000/Documents
