*.sconsign.dblite
*.o
build*
cpp/build
src/device/Arduino/libraries/IreneTargetSpeed/test/test
.*.swp
.*.swo
.DS_Store
*.log
*.orig
tags

.tmp
www/app/bower_components
www/data
www/dist
www/node_modules
www/uploads/*

anemionicApp/node_modules/
anemionicApp/platforms/
anemionicApp/plugins/
anemionicApp/www/lib

src/device/anemobox/anemonode/node_modules

www2/node_modules
www2/uploads

nodemodules/*/node_modules
