<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
    <div class="text-center">
        <h1>Choose a plan to register your boat</h1>
    </div>
    <div class="container">
        <div class="row">
            <div ng-if="isLoggedIn()">
                <label for="boat">Select Boat</label>:
                <select name="boat" id="boat" ng-model="selectedBoat.model">
                    <option ng-repeat="option in selectedBoat.boats" value="{{option._id}}">{{option.name}}</option>
                  </select>

                <div ng-show="boatNotSelected">
                    <label>Please select a boat to register for a plan</label>
                </div>
            </div>
            <div ng-if="!isPlanSelected && !processingRequest">
                <div class="col-lg-4">
                    <div class="card card-custom panel panel-default-custom">
                        <div class="panel-body">
                            <div class="text-center">
                                <label class="red-text">DISCOVERY</label>
                            </div>
                            <div class="text-center discovery-margin">
                                <span>
                                    <span class="price-font"><span class="heading-text">CHF</span><span
                                            class="heading-text"> 0 / year</span></span>
                                </span>
                            </div>
                            <div class="hr-custom"></div>

                            <ul><label class="label-text">Available History:</label>
                                <li class="li-text">The last two navigations.</li>

                            </ul>

                            <ul><label class="label-text">Sampling Frequancy:</label>
                                <li class="li-text">1 point per minite.</li>

                            </ul>
                            <div class="hr-custom"></div>
                            <div class="div-discovery"></div>
                            <div class="">
                                <button type="button" class="btn btn-red btn-block">
                                    <span class="span-padding">Register</span>
                                </button>
                                <div class="margin-top">
                                    <p class="p-text">-Try it free for unlimited time.</p>
                                    <p class="p-text">-No credit card details required.</p>
                                    <p class="p-text">-Switch/cancel to any other plan when required.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div ng-repeat="plan in plans">
                    <div class="col-lg-4">
                        <div class="card card-custom panel panel-default-custom">
                            <div class="panel-body">
                                <div class="text-center">
                                    <label class="red-text">{{plan.nickname}}</label>
                                </div>
                                <div class="text-center">
                                    <span>Starts <span class="price-font">
                                            <!-- <i ngClass="{ plan.currency === 'eur' || plan.currency === 'euro' :fa fa-eur}"                              aria-hidden="true"></i> -->
                                            <span class="heading-text" ng-if="plan.currency !== 'eur'">CHF</span>
                                            <span class="heading-text"> {{plan.amount/100}} / year</span></span>
                                        <p>-per boat</p>
                                    </span>
                                </div>
                                <div class="hr-custom"></div>

                                <ul> <label class="label-text">Available History:</label>
                                    <li class="li-text">All Navigation.</li>
                                </ul>

                                <ul><label class="label-text">Sampling Frequancy:</label>
                                    <li class="li-text">1 point per {{plan.metadata.samplingFrequency}}.</li>
                                </ul>
                                <div class="hr-custom"></div>


                                <div class="div-height">
                                    <div class="text-center">
                                        <div class="div-margin-bottom">
                                            <span class="span-optional bold-font">ADD ON(Optional)</span>
                                        </div>
                                    </div>
                                    <div ng-repeat="addon in plan.addOns">
                                        <label class="bold-font">{{addon.nickname}}</label>
                                        <ul>
                                            <li class="li-text">
                                                <span><i class="fa fa-eur" aria-hidden="true"></i><span>
                                                        {{addon.amount/100}}/ year</span></span>
                                                <span class="pull-right">

                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="">
                                    <button type="button" class="btn btn-red btn-block" ng-click="subscribe(plan.id)">
                                        <span class="span-padding">Register</span>
                                    </button>
                                    <div class="margin-top">
                                        <p class="p-text p-padding-bttom">-Switch to any other plan when required.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="isPlanSelected && !processingRequest">
                <form id="payment-form-broken">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cardNumber"> Card Number </label>
                                <div id="cardNumber" class="form-control">
                                    <!-- a stripe element will be inserted here  -->
                                </div>
                                <div id="cardNumber-errors"></div>
                            </div>

                            <div class="form-group">
                                <label for="cardExpiry"> Expiry </label>
                                <div id="cardExpiry" class="form-control">
                                    <!-- a stripe element will be inserted here  -->
                                </div>
                                <div id="cardExpiry-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="cardCvc"> CVC </label>
                                <div id="cardCvc" class="form-control">
                                    <!-- a stripe element will be inserted here  -->
                                </div>
                                <div id="cardCvc-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="postalCode"> Zip/Postal Code </label>
                                <div id="postalCode" class="form-control">
                                    <!-- a stripe element will be inserted here  -->
                                </div>
                                <div id="postalCode-errors"></div>
                            </div>
                            <label for="email"> Email Address </label>
                            <div>
                                <input id="email" name="email" type="text" class="control">
                            </div>

                            <label for="country"> Country </label>
                            <div>
                                <input id="country" name="country" type="text" class="control">
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block">Subscribe</button>
                </form>
            </div>
            <!-- <div ng-if="processingRequest">
                <div>
                    Processing your request
                </div>
                <img ng-if="processingRequest" src="/assets/images/animated-boat-.gif">
                <div>
                    Please wait while we help you sail better.
                </div>
            </div> -->
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>