

.markdown-home .text{
  font-family: "PT Serif",serif;
  color: #555;
  text-rendering: optimizelegibility;
  line-height: 1.8em;  
  font-size: 20px;
}

.markdown-about{
  margin-top: 100px!important;
}

.markdown-about,.markdown-about .container {
  max-width: 600px;
  margin: 10px auto;
}

.markdown-about .byline{
  color: #ddd;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5em;
  display: none;
}
.markdown-about .home-header{
  border-bottom: 1px solid #EEE;
  position: relative;
  background-size: length;
  height: 500px;
}


.markdown-about img{
  max-width: 100%;
}

.markdown-about .home-header h1{
  font-size: 3.5em;
  font-weight: 900;
  line-height: 1.08em;  
  bottom:40px;
  width: 100%;
  color: white;
  text-shadow:0 0 15px rgba(0,0,0,.5);
  position: absolute;
  text-align: center;  
}
.markdown-about h2.header{
  color: #999;
  font-size: 1.5em;
}
.markdown-about  h2{
  font-weight: normal;
  font-style: italic;  
}

.markdown-about h1, .markdown-about.h1, .markdown-about h2, .markdown-about.h2, .markdown-about h3, .markdown-about.h3 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.markdown-about p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.markdown-about ul{
  padding-left: 15px;
}