
.container.dashboard{
  background-color:#f5f5f5; 
}

.markdown-home .text{
  font-family: "PT Serif",serif;
  color: #555;
  text-rendering: optimizelegibility;
  line-height: 1.8em;  
  font-size: 20px;
}

.markdown-home .container{
  max-width: 600px;
  margin: 0px auto;
}

.markdown-home .byline{
  color: #ddd;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5em;
}
.markdown-home .home-header{
  border-bottom: 1px solid #EEE;
  height: 700px;  
  position: relative;
}


.markdown-home img{
  max-width: 100%;
}

.markdown-home .home-header h1{
  font-size: 3.5em;
  font-weight: 900;
  line-height: 1.08em;  
  bottom:40px;
  width: 100%;
  color: white;
  text-shadow:0 0 15px rgba(0,0,0,.5);
  position: absolute;
  text-align: center;  
}
.markdown-home h2.header{
  color: #999;
  margin-top: 80px;
  font-size: 1.5em;
}
.markdown-home  h2{
  font-weight: normal;
  font-style: italic;  
}

.markdown-home h1, .markdown-home.h1, .markdown-home h2, .markdown-home.h2, .markdown-home h3, .markdown-home.h3 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.markdown-home p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.markdown-home ul{
  padding-left: 15px;
}