
.container.dashboard{
  background-color:#f5f5f5; 
}

.markdown-software .text{
  font-family: "PT Serif",serif;
  color: #555;
  text-rendering: optimizelegibility;
  line-height: 1.8em;  
  font-size: 20px;
}

.markdown-software .container{
  max-width: 600px;
  margin: 0px auto;
}

.markdown-software .byline{
  color: #ddd;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5em;
}
.markdown-software .home-header{
  border-bottom: 1px solid #EEE;
  height: 300px;  
  position: relative;
}


.markdown-software img{
  max-width: 100%;
}

.markdown-software .home-header h1{
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.24em;
  font-size: 2.5em;
  line-height: 1.08em;  
  bottom:40px;
  width: 100%;
  color: white;
  text-shadow:0 0 1px rgba(0,0,0,1);
}
.markdown-software h2.header{
  color: #999;
}
.markdown-software  h2{
  font-weight: normal;
  font-style: italic;  
}

.markdown-software h1, .markdown-software.h1, .markdown-software h2, .markdown-software.h2, .markdown-software h3, .markdown-software.h3 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.markdown-software p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.markdown-software ul{
  padding-left: 15px;
}