<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.myionicproject920010" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Anemionic</name>
  <description>
        The Anemomind Bluetooth development App
    </description>
  <author email="julien@anemomind.com" href="http://anemomind.com/">
      The Anemomind Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
