<div id="mapContainer">
  <div class="titleBox">{{boat.name}}&nbsp;&nbsp;<a href="javascript:history.back()">&#10006;</a></div>
  <vectormap></vectormap>

  <div class="animationControls">
    <div ng-hide="isPlaying" ng-click="togglePlayPause()">&#9658; play</div>
    <div ng-show="isPlaying" ng-click="togglePlayPause()">&#10073;&#10073; pause</div>
  </div>

  <select id="dataSourceSelector" ng-model="plotField" ng-options="field as label for (field, label) in plotFieldLabels"></select>

  <div id="tabs">
    <lztabset>
      <lztab title="Performance" template-url="/app/map/tabcontent/perf.html"> </lztab>
      <lztab title="Wind data" template-url="/app/map/tabcontent/wind_data.html" ></lztab>
      <lztab title="Speed data" template-url="/app/map/tabcontent/speed_data.html" ></lztab>
      <lztab title="Numerical data" template-url="/app/map/tabcontent/raw_data.html" ></lztab>
    </lztabset>

  </div>
  <perfplot plot-data="plotData" current-time="currentTime" field="plotField"></perfplot>
</div>


