<div id="mapContainer">
    <div class="titleBox">{{boat.name}}&nbsp;&nbsp;<a href="javascript:history.back()">&#10006;</a></div>
    <vectormap></vectormap>

    <div class="animationControls">
      <div ng-hide="isPlaying" ng-click="togglePlayPause()">&#9658; play</div>
      <div ng-show="isPlaying" ng-click="togglePlayPause()">&#10073;&#10073; pause</div>
  </div>

  <select id="dataSourceSelector" ng-model="plotField" ng-options="field as label for (field, label) in plotFieldLabels"></select>

  <perfplot plot-data="plotData" current-time="currentTime" field="plotField"></perfplot>


    <gauge-indicator label="'%'" value="currentPoint.devicePerf" description="'Performance'" min="0" max="200" ></gauge-indicator>

    <arrow-indicator label="'Degree'" value="currentPoint.externalTwa" description="'True wind angle'" min="0" max="360" ></arrow-indicator>

<!--     What is the value for heeling ?
 -->
    <heeling-indicator label="'Degree'" value="currentPoint.gpsBearing" description="'Heeling angle'" min="-90" max="90" ></heeling-indicator>

    <wheel-indicator label="'Degree'" value="currentPoint.deviceTwdir" description="'True wind direction'" min="0" max="360" ></heeling-indicator>

    <wheel-small-indicator label="'Degree'" value="currentPoint.deviceTwdir" description="'Wind direction'" min="0" max="360" ></wheel-small-indicator>

</div>


