body > div.ng-scope {
height:100%;
}

.close-btn{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.close-btn:before, 
.close-btn:after {
  content: '';
  position: absolute;
  height: 5px;
  margin-top: -3px;
  width: 100%;
  top: 50%;
  left: 0;
  background: #666;
}
.close-btn:hover:before,
.close-btn:hover:after {
  background: #ed1a28;
}
.close-btn:before{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-btn:after{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mapScreenContainer {
  width:100%;
  height: 100%;

  /* The flex css property needs prefixing for old browsers.
     Fortunately, autoprefixer can handle it for us.
  */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mapAndGraphAndSidebar {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  /* see http://stackoverflow.com/questions/12022288/how-to-keep-a-flex-item-from-overflowing-due-to-its-text
  W3C specification says, "By default, flex items won't shrink below their
  minimum content size (the length of the longest word or fixed-size element).
  To change this, set the ‘min-width’ or ‘min-height’ property."
  */
  min-height: 0;
}

.mapAndGraph {
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 0;
}

.map {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  overflow: hidden;
}

.extension {
  position: absolute;
  background-color: #f8f8f8;
  padding: 0px 12px;
  font-size: 22px;
  line-height: 22px;
  color: #ed1a28;
  cursor: pointer;
}
.extension:hover {
  color: #666;
}
.extension.top-curve {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.extension.bottom-curve {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.extension.left-curve {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.extension.right-curve {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.mainControl {
  position: absolute;
  top: 2%;
  left: 1%;
  z-index: 11;
  background-color: #f8f8f8;
  width: auto;
  font-family: 'Raleway', sans-serif;
}
.mainControl .section {
  border-top: 1px solid #d6d6d6;
}
.mainControl .heading {
  display: flex;
  width: 100%;
}
.mainControl .heading .boat-name {
  background-color: #e7e7e7;
  padding: 10px 10px 7px;
  width: 40%;
}
.mainControl .boat-name label,
.mainControl .share-boat-holder span {
  color: #ed1a28;
}
.mainControl .boat-name label {
  font-weight: normal;
  margin-bottom: 0;
  vertical-align: top;
  padding-left: 6px;
}
.mainControl .heading .share-boat {
  padding: 10px;
  width: 60%;
}
.mainControl .share-boat-holder {
  text-align: right;
}
.mainControl .share-boat-holder i {
  margin-top: -2px;
  background-color: #ed1a28;
  color: #fff;
  padding: 3px 5px;
  font-size: 16px;
  height: 23px;
  cursor: pointer;
}
.mainControl .share-boat-holder .share-popup {
  border: 1px solid #d7d7d7;
  padding: 3px 24px 3px 5px;
  border-radius: 1px;
  position: relative;
  cursor: pointer;
}
.mainControl .share-boat-holder .share-popup:after {
  content: '';
  background-image: url('/assets/images/sailboat.svg');
  width: 16px;
  height: 16px;
  position: absolute;
  background-size: contain;
  right: 4px;
}
.mainControl .control-btns,
.mainControl .tail-inputs {
  padding:5px;
}
.mainControl .control-btns,
.mainControl .control-btns button,
.mainControl .tail-inputs i,
.mainControl .tail-inputs label {
  color: #ed1a28;
}
.mainControl .control-btns button.play,
.mainControl .control-btns .btn-grouped,
.mainControl .control-btns button.cut-after,
.mainControl .control-btns button.split {
  margin-right: 5px;
}
.mainControl .control-btns .group-btn {
  display: inline-block;
}
.mainControl .control-btns .btn-grouped{
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.mainControl .control-btns .btn-grouped button {
  border: none;
  border-radius: 0;
  background-color: transparent;
}
.mainControl .control-btns .btn-grouped button:hover {
  background-color: #ebebeb;
}
.mainControl .tail-inputs {
  display: flex;
  padding: 5px 10px;
}
.mainControl .info-group {
  border-bottom: 1px solid #aaaaaa;
}
.mainControl .info-group .extension {
  right: 4%;
  border: 1px solid #aaaaaa;
  bottom: -23px;
  border-top: none;
}
.mainControl .tail-inputs .group {
  display: flex;
  margin-right: 15px;
}
.mainControl .tail-inputs .group.tail-length {
  position: relative;
  margin-right: 0;
}
.mainControl .group.tail-length i {
  position: absolute;
  right: 0;
  margin-top: 5px;
}
.mainControl .tail-inputs i {
  margin-top: 3px;
  margin-right: 5px;
}
.mainControl .tail-inputs .group.tail i {
  padding-left: 6px;
}
.mainControl .tail-inputs i.with-circle {
  border-radius: 50%;
  width: 23px;
  height: 21px;
  padding-left: 5px;
  padding-top: 3px;
  margin-top: 1px;
  color: #ffffff;
  background-color: #ed1a28;
}
.mainControl .tail-inputs label {
  font-weight: normal;
  margin-bottom: 0;
  vertical-align: top;
  margin-right: 3px;
}
.mainControl .tail-inputs input {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 5px;
}
.mainControl .tail-inputs .thin {
  width: 30px;
}
.mainControl .tail-inputs .wide {
  width: 80px;
  padding-right: 15px;
}
.mainControl .perf-speed .group,
.mainControl .wind .group {
  display: flex;
  width: 100%;
  padding: 0 30px;
}
.mainControl .perf-speed .group > div,
.mainControl .wind .group > div {
  width: 50%;
  padding: 0 10px;
}
.mainControl .perf-speed label,
.mainControl .wind label,
.mainControl .details label {
  padding: 5px 10px;
  font-weight: normal;
  color: #ed1a28;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mainControl .perf-speed label i,
.mainControl .wind label i,
.mainControl .details label i {
  border: 1px solid #ed1a28;
  border-radius: 50%;
  width: 17px;
  padding-left: 2px;
  margin-left: 5px;
  color: #ed1a28;
}
.mainControl .wind .top-wheel {
  padding-top: 20px !important;
}
.mainControl .small-wheel .marginCenter {
  margin-top: -6px;
}
.mainControl .details {
  padding: 5px 10px;
  overflow-y: hidden;
}
.mainControl .details label {
  padding: 5px 0;
  margin-bottom: 10px;
}
.mainControl .indicator-label,
.mainControl .indicator-value {
  font-size: 15pt;
}
.mainControl .indicator-description {
  display: none;
}
@media only screen and (max-width: 800px) {
  .mainControl {
    top: 0;
    left: 0;
    width: 100%;
    min-height: auto;
  }
}
@media only screen and (max-width: 400px) {
  .mainControl .heading .boat-name {
    padding: 4px;
  }
  .mainControl .heading .share-boat {
    padding: 5px;
  }
  .close-btn:before, 
  .close-btn:after {
    margin-top: -1px;
  }
}
@media only screen and (max-width: 404px) {
  .mainControl .control-btns, 
  .mainControl .control-btns button, 
  .mainControl .tail-inputs i, 
  .mainControl .tail-inputs label {
    font-size: 10px;
  }
  .mainControl .tail-inputs i.with-circle {
    padding-top: 5px;
    padding-left: 6px;
    width: 22px;
  }
  .mainControl .tail-inputs label {
    line-height: 22px;
  }
  .mainControl .tail-inputs .thin {
    width: 40px;
  }
  .mainControl .tail-inputs input {
    height: 24px;
  }
  .mainControl .group.tail-length i {
    font-size: 14px;
  }
  .mainControl .details table {
    font-size: 11px;
  }
}
@media only screen and (max-width: 360px) {
  .mainControl .control-btns .group-btn {
    margin-top: 0;
  }
  .mainControl .tail-inputs input {
    width: 45px;
    font-size: 10px;
  }
  .mainControl .tail-inputs .wide {
    width: 44px;
  }
  .mainControl .heading .boat-name {
    padding: 1px 4px;
  }
  .close-btn {
    width: 16px;
    height: 16px;
  }
  .close-btn:before, 
  .close-btn:after {
    height: 3px;
  }
  .mainControl .boat-name label {
    font-size: 10px;
    margin-top: 2px;
  }
  .mainControl .heading .share-boat {
    padding: 0px 3px 1px 3px;
  }
  .mainControl .share-boat-holder i {
    font-size: 12px;
    height: 19px;
  }
  .mainControl .share-boat-holder .share-popup {
    font-size: 10px;
  }
  .mainControl .share-boat-holder .share-popup:after {
    width: 14px;
    height: 14px;
    top: 0px;
  }
  .mainControl .control-btns {
    padding: 5px 4px;
  }
  .mainControl .control-btns .btn-sm {
    padding: 3px 7px;
  }
}
@media only screen and (max-width: 340px) {
  .mainControl .tail-inputs .group.perf-vmg i {
    width: 23px;
  }
  .mainControl .tail-inputs .group.tail i {
    padding-left: 7px;
  }
}
@media only screen and (max-width: 325px) {
  .mainControl .tail-inputs .group.perf-vmg i {
    width: 22px;
  }
}

.custom-modal-container {
  width: 100%;
}
.custom-modal-container .icon-list {
  text-align: center;
  margin: 20px 0 15px;
}
.custom-modal-container .icon-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.custom-modal-container .icon-list ul li {
  display: inline-block;
  background-color: #ed1a28;
  padding: 5px;
  border-radius: 50%;
  font-size: 20px;
  width: 40px;
  margin: 0 8px;
  cursor: pointer;
}
.custom-modal-container .icon-list ul li.linkedin:hover {
  background-color: #0e71b4;
}
.custom-modal-container .icon-list ul li.facebook:hover {
  background-color: #3a5b9b;
}
.custom-modal-container .icon-list ul li.pinterest:hover {
  background-color: #c92023;
}
.custom-modal-container .icon-list ul li.twitter:hover {
  background-color: #31ade4;
}
.custom-modal-container .icon-list ul li.google:hover {
  background-color: #f33f2f;
}
.custom-modal-container .icon-list ul li.envelope:hover {
  background-color: #669c40;
}
.custom-modal-container .icon-list li a {
  color: #fff;
}
.custom-modal-container .share-box {
  text-align: right;
} 
.custom-modal-container .share-box textarea {
  width: 100%;
  border-radius: 3px;
  min-height: 150px;
  padding: 5px 10px;
  background-color: #f3f3f3;
}
.custom-modal-container .share-box button {
  padding: 6px 18px;
  font-size: 16px;
  color: #ed1a28;
}
.custom-modal-container .share-box button:hover {
  background-color: #ed1a28;
  border: 1px solid #ed1a28;
  color: #fff;
}
@media only screen and (max-width: 472px) {
  .custom-modal-container .icon-list ul li {
    margin: 0;
  }
}
  
.titleBox {
  position: absolute;
  top:20px;
  left:0px;
  z-index: 10;
  background:#ff0033;
  color:white;
  padding:15px;
  text-transform: uppercase;
}

.titleBox a:link, .titleBox a:visited {
 color: white;
 text-decoration: none;
}

.titleBox a:hover {
 color: black;
 text-decoration: none;
}

.vectorMapContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.graph {
  position: relative;
}
.graph.unhide-area {
  -webkit-flex-basis: 120px;
      -ms-flex-preferred-size: 120px;
          flex-basis: 120px;
  -webkit-flex-grow: .1;
      -ms-flex-positive: .1;
          flex-grow: .1;
}
.graph.hide-area {
  bottom: 0;
}

.graph .extension {
  top: -22px;
  left: 20px;
}
@media only screen and (max-width: 799px) {
  .graph .extension {
    display: none;
  }
}

perfplot {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width:100%;
  display:block;
  background-color:rgba(255,255,255,0.5);
}

#dataSourceSelector {
  position: absolute;
  top: 0px;
  display:inline-block;
  z-index:10;
}

.responsiveNavButtons {
  /*display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;*/
  display: none;
  border-top: 1px solid #aaaaaa;
}
.responsiveNavButtons i {
  color: #ed1a28;
}
.flexOne {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.responsiveNavButtons .button-list {
  width: 100%;
  display: flex;
}
.responsiveNavButtons .button-list button {
  width: 20%;
  margin: 0;
  border-radius: 0;
}
.responsiveNavButtons .button-list button:hover,
.responsiveNavButtons .button-list button:active {
  border-color: #fbfbfb;
  background-color: #fbfbfb;
  box-shadow: none;
  outline: none;
}
.responsiveNavButtons .res-container {
  display: none;
  background-color: #fbfbfb;
}
@media only screen and (max-width: 799px) {
  .mainControl .info-group .perf-speed,
  .mainControl .info-group .wind,
  .mainControl .info-group .details {
    display: none;
  }
  .responsiveNavButtons {
    display: block;
  }
  .responsiveNavButtons .res-container.res-graph {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
  }
  .res-container.res-graph,
  .res-container.res-perf,
  .res-container.res-wind,
  .res-container.res-details,
  .res-container.res-photos {
    display: none;
    height: 146px;
  }
  .res-container.res-perf .moving-element,
  .res-container.res-wind .moving-element {
    display: flex;
    width: 100%;
    font-size: 16px;
    height: 100% !important;
  }
  .res-container.res-perf .moving-element > div,
  .res-container.res-wind .moving-element > div {
    width: 50%;
    height: 100%;
  }
  .res-container.res-perf .indicator-label, 
  .res-container.res-perf .indicator-value,
  .res-container.res-wind .indicator-label, 
  .res-container.res-wind .indicator-value {
    font-size: 14pt;
    color: #ed1a28;
  }
  .res-container.res-perf {
    position: relative;
  }
  .res-container.res-perf .moving-element {
    padding: 4px 18% 0;
  }
  .res-container.res-perf .perf .marginCenter,
  .res-container.res-perf .speed .marginCenter {
    position: absolute;
    top: 22px;
  }
  .res-container.res-perf .perf .marginCenter {
    left: 4px;
  }
  .res-container.res-perf .speed .marginCenter {
    right: 4px;
  }
  .res-container.res-perf .perf .indicator-description,
  .res-container.res-perf .speed .indicator-description {
    position: absolute;
    top: 2px;
    font-size: 16px;
  }
  .res-container.res-perf .perf .indicator-description {
    left: 4px;
  }
  .res-container.res-perf .speed .indicator-description {
    right: 4px;
  }

  .res-container.res-wind .moving-element {
    padding: 10px 34% 0;
  }
  .res-container.res-wind .moving-element .svgcontainer {
    position: relative;
  }
  .res-container.res-wind .moving-element .marginCenter {
    position: absolute;
    top: 20px;
    right: -46px;
  }
  .res-container.res-wind .moving-element .indicator-description {
    position: absolute;
    right: -144px;
  }

  .res-container.res-details .details-holder {
    display: -webkit-box;
    padding: 5px;
    overflow-x: scroll;
    font-size: 14px;
  }
  .res-container.res-details .details-holder div {
    margin-right: 15px;
  }
  .res-container.res-details .details-holder table {
    border: none;
  }
  .res-container.res-details .details-holder table td { 
    white-space: nowrap;
    border: none;
    border-top: 1px solid #ddd;
  }
  .res-container.res-details .details-holder table .td-label {
    font-weight: 600;
  }

  .res-container.res-photos {
    position: relative;
  }
  .res-container.res-photos hr {
    position: absolute;
    top: -14px;
    left: 0;
    border-top: 3px solid #c9c9c9;
  }
  .res-container.res-photos .sidebar-container {
    right: initial !important;
  }
  .res-container.res-photos .sidebar-container .extension {
    display: none;
  }
  .res-container.res-photos .sidebar-container #tabs {
    top: initial;
    right: initial;
    max-width: 100%;
    z-index: initial;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    position: relative;
  }
  .res-container.res-photos .sidebar-container #eventsContainer,
  .res-container.res-photos .eventlist {
    height: 100%;
  }
  .res-container.res-photos .sidebar-container .timeline {
    display: -webkit-box;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .res-container.res-photos .sidebar-container .timeline:before {
    top: initial;
    bottom: initial;
    left: initial;
    position: initial;
    width: 0;
    background: none;
    margin-left: 0;
    border: none;
  }
  .res-container.res-photos .timeline > li {
    margin: 0;
    padding: 0 10px;
    width: 138px;
    height: 100px;
  }
  .res-container.res-photos .timeline > li .timeline-panel {
    height: 100%;
  }
  .res-container.res-photos .timeline > li .timeline-panel .top {
    height: 75%;
  }
  .res-container.res-photos .timeline > li .timeline-panel .top img {
    height: 100%;
  }
  .res-container.res-photos .timeline > li .timeline-panel .bottom {
    position: initial;
  }
  .res-container.res-photos .timeline > li .timeline-badge,
  .res-container.res-photos .timeline > li .timeline-badge.to-top {
    top: -14px;
    left: 46%;
    width: 12px;
    height: 12px;
  }
}
@media only screen and (max-width: 700px) {
  .res-container.res-perf .moving-element {
    padding: 5px 14% 0;
  }
  .res-container.res-wind .moving-element {
    padding: 5px 30% 0;
  }
}
@media only screen and (max-width: 600px) {
  .res-container.res-perf .moving-element {
    padding: 15px 11% 0;
  }
  .res-container.res-wind .moving-element {
    padding: 5px 26% 0;
  }
}
@media only screen and (max-width: 590px) {
  .res-container.res-perf .moving-element {
    padding: 4px 10% 0;
  }
  .res-container.res-perf .perf .marginCenter {
    top: 20px;
  }
  .res-container.res-perf .indicator-label, 
  .res-container.res-perf .indicator-value, 
  .res-container.res-wind .indicator-label, 
  .res-container.res-wind .indicator-value {
    font-size: 12pt;
  }
  .res-container.res-perf .perf .indicator-description, 
  .res-container.res-perf .speed .indicator-description {
    font-size: 13px;
  }
}
@media only screen and (max-width: 565px) {
  .res-container.res-perf .moving-element {
    padding: 11px 8% 0;
  }
  .res-container.res-wind .moving-element {
    padding: 5px 24% 0;
  }
  .res-container.res-wind .moving-element .marginCenter {
    top: 16px;
  }
  .res-container.res-wind .moving-element .indicator-description {
    font-size: 12px;
    right: -116px;
  }
}
@media only screen and (max-width: 500px) {
  .res-container.res-perf .moving-element {
    padding: 18px 5% 0;
  }
  .res-container.res-wind .moving-element {
    padding: 5px 21% 0;
  }
  .res-container.res-wind .moving-element .marginCenter {
    top: 16px;
    right: -24px;
  }
  .res-container.res-wind .moving-element .indicator-description {
    font-size: 12px;
    right: -96px;
  }
}
@media only screen and (max-width: 460px) {
  .res-container.res-wind .moving-element .indicator-description {
    font-size: 10px;
    right: -76px;
  }
}
@media only screen and (max-width: 430px) {
  .res-container.res-perf .moving-element {
    padding: 33px 5% 0;
  }
  .res-container.res-wind .moving-element {
    padding: 18px 22% 0;
  }
}
@media only screen and (max-width: 420px) {
  .res-container.res-graph,
  .res-container.res-perf,
  .res-container.res-wind,
  .res-container.res-details,
  .res-container.res-photos {
    height: 128px;
  }
  .res-container.res-photos .timeline > li {
    width: 120px;
  }
  .res-container.res-perf .moving-element {
    padding: 22px 5% 0;
  }
  .res-container.res-wind .moving-element {
    padding: 8px 22% 0;
  }
}
@media only screen and (max-width: 380px) {
  .res-container.res-perf .moving-element {
    padding: 27px 5% 0;
  }
  .res-container.res-wind .moving-element {
    padding: 3px 22% 0 11%;
  }
}
@media only screen and (max-width: 340px) {
  .res-container.res-perf .moving-element {
    padding: 37px 5% 0;
  }
  .res-container.res-wind .moving-element {
    padding: 3px 20% 0 6%;
  }
  .res-container.res-wind .moving-element .indicator-description {
    right: -60px;
  }
}
/*==================================================*/

#topwheel {
  display:block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#gaugetws {
    display:block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-widht: 400p;
}

#gaugesog {
    display:block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*==================================================*/

#gaugetws2 {
    display:block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#smallwheeltwa {
    display:block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#smallwheelcog {
    display:block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*==================================================*/

#heeling {
    display:block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#gaugeperf {
    display:block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#windarrow {
    display:block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*==================================================*/

.mapScreenContainer sidebar {
  overflow: initial;
  min-height: 0;
}
.sidebar-container {
  position: relative;
}
.sidebar-container.unhide-area {
  -webkit-flex:1;
      -ms-flex:1;
          flex:1;
}
.sidebar-container.unhide-area {
  right: 0;
}
.sidebar-container .extension{
  left: -28px;
  padding: 6px 8px;
  top: 8px;
}

#tabs {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  top: 10px;
  right: 0px;
  z-index: 10;
  height: 100%;
  overflow: auto;
}

.svgcontainer {
  text-align: center;
}

.semitransp {
  background: rgb(255, 255, 255); /* The Fallback */
  background: rgba(255, 255, 255, 0.5);
  color:#000;
}

.padding5px {
  padding:5px
}

.nav-tabs > li > a {
  border: medium none;
}
.nav-tabs > li > a:hover {
  background-color: #ff0033 !important;
    border: medium none;
    border-radius: 1;
    color:#fff;
}

.indicator-label, .indicator-value {
  font-size: 40pt;
}


.uncollapse-area {
  height: auto;
}
.collapse-area {
  height: 0;
  overflow: hidden;
}

/* ========= bootstrap overrides ========= */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #ff0033;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs > li > a {
  margin-right: 0px;
}

