<!-- Social Modal -->
<div class="modal-body" ng-controller="MapCtrl">
  <i class="anemomind-icon cls-btn" ng-click="$dismiss()" aria-hidden="true"></i>
  <div class="custom-modal-container">
    <h4>{{shareText}}</h4>
    <div class="icon-list">
        <ul>
            <li ng-repeat="icon in iconList" class="{{icon.name}}" 
                ng-click="selecteIcon(icon)"
                ng-show="icon.use">
                <i class="anemomind-icon" aria-hidden="true"></i>
            </li>
        </ul>
    </div>

    <p ng-show="!boat.publicAccess">
      To share the link on social network you must activate the public access.
      The current visibility is private. 
    </p>
    <form action="" method="post">

      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-share-alt red"></i></span>
        <input type="text" class="form-control"  ng-model="sharedLink" input-select-text>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" 
                  ng-disabled="!boat.publicAccess"
                  ng-click="goShare(selectedIcon)"><i class="fa {{selectedIcon.icon}}"></i></button>
        </span>                    
      </div>                    
    </form>
    <!-- OPEN BOAT ACCESS -->
    <hr/>
    <button class="btn btn-default btn-block " 
            ng-show="!boat.publicAccess"
            ng-click="changePublicAccess()">Open access to everyone and enable sharing</button>
    <blockquote>
      <i class="fa fa-check-circle gray"></i> This boat access is public
    </blockquote>            
                
  </div>            
</div>
