<div class="modal fade ng-scope share-modal" ng-class="{'in' : isVisible}" style="display: block;" aria-hidden="false"  ng-controller="ShareCtrl">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="cls-btn" ng-click="closeModal();" data-dismiss="modal" aria-hidden="true">&nbsp;</button>
        </div>
        <!-- Social Modal -->
        <div class="modal-body">
          <div class="custom-modal-container">
            <h4>{{shareText}}</h4>
            <div class="icon-list">
                <ul>
                    <li ng-repeat="icon in iconList" class="{{icon.name}}" 
                        ng-click="selecteIcon(icon)"
                        ng-show="icon.use">
                        <i class="anemomind-icon" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>

            <!-- ON PRIVATE BOAT -->
            <p ng-show="!boat.publicAccess">
              To share the link on social network you must activate the public access.
              The current visibility is private. 
            </p>
            <!-- IF PUBLIC AND ADMIN BOAT 
                show-if="admin+public" show-boat="boat" -->
            <form action="" method="post" 
                  ng-show="boat.publicAccess">

              <div class="input-group" >
                <span class="input-group-addon"><i class="fa fa-share-alt red"></i></span>
                <input type="text" class="form-control"  ng-model="sharedLink" input-select-text>
                <span class="input-group-btn">
                  <button class="btn btn-default red" type="button" 
                          ng-disabled="!boat.publicAccess"
                          ng-click="goShare(selectedIcon)"><i class="fa {{selectedIcon.icon}}"></i> Share</button>
                </span>                    
              </div>                    
            </form>
            <!-- OPEN BOAT ACCESS -->
            <hr/>
            <button class="btn btn-default btn-block " 
                    show-if="admin+!public" show-boat="boat" ng-hide="boat.publicAccess"
                    ng-click="changePublicAccess()">Open access to everyone and enable sharing</button>
            <!-- SHOW IF NOT ADMIN AND NOT PUBLIC -->
            <blockquote hide-if="admin+public" hide-boat="boat">
              You are not authorized to share this session.  
            </blockquote>            
            <blockquote ng-show="boat.publicAccess">
              <i class="fa fa-check-circle gray"></i> This boat access is public
            </blockquote>            
                        
          </div>            
        </div>
    </div>
    </div>
</div>
<div class="modal-backdrop fade in"></div>


