<div class="svgContainer">
<display-path data="data"></display-path>
</div>

<div class="container">
<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-12">
      <div id="sliderWrapper" ng-show="raceIsLoaded">
        <div id="btns" ng-show="raceIsLoaded">
          <span class="label label-default races" ng-click="togglePlayPause(currentPos)">{{toggleLabel}}</span>
          <display-race-data data="data"></display-race-data>
        </div><br />
        <div ui-slider="slider.options" id="slider" min="0" max="{{data.length}}" ng-model="currentPos"></div>
      </div>
    </div>
  </div>
</div>
</div>
