<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-12">
    <a ng-repeat="race in races" ng-click="loadRace(race._id)"><span class="label label-default races">
      {{ race.title }}
    </span></a>
  </div>
  <div class="col-sm-12">
    <div id="sliderWrapper">
      <div id="slider"></div>
    </div>
    <div>
      <br />
      <button id="play">play</button> 
      <button id="pause">pause</button>
      <br />
      <div id="data">{{ sensorData }}</div>
    </div>
  </div>
</div>