<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid">
    <div class="text-center" ng-if="!isPlanSelected && !processingRequest">
        <h1>Choose a plan to register {{boatName}} boat</h1>
    </div>
    <div class="text-center" ng-if="isPlanSelected && !processingRequest">
        <h1>Subscribing plan for {{boatName}}</h1>
    </div>
    <div class="container">
        <div class="row">
            <form id="payment-form-broken">
                <div class="form-row">
                    <div class="col-sm-6 btn-margin">
                        <label for="name"> Name </label>
                        <div class="form-group">
                            <input id="name" ng-model="name" name="name" class="form-control" type="text"
                                class="control">
                        </div>

                        <label for="email"> Email </label>
                        <div class="form-group">
                            <input id="email" name="email" ng-model="email" class="form-control" type="text"
                                class="control">
                        </div>

                        <label for="address"> Address </label>
                        <div class="form-group">
                            <input id="address" name="address" class="form-control" type="text" class="control">
                        </div>

                        <label for="pincode"> Pincode </label>
                        <div class="form-group">
                            <input id="pincode" name="pincode" class="form-control" type="text" class="control">
                        </div>

                        <label class="label-margin" for="country"> Country </label>
                        <select name="country" id="country" ng-model="countries.selectedCountry">
                            <option value="">Select a Country </option>
                            <option ng-repeat="option in countries.countries" value="{{option.name}}">
                                {{option.name}}</option>
                        </select>

                        <div class="form-group">
                            <label for="cardNumber"> Card Number </label>
                            <div id="cardNumber" class="form-control">
                                <!-- a stripe element will be inserted here  -->
                            </div>
                            <div id="cardNumber-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="cardExpiry"> Expiry </label>
                            <div id="cardExpiry" class="form-control">
                                <!-- a stripe element will be inserted here  -->
                            </div>
                            <div id="cardExpiry-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="cardCvc"> CVC </label>
                            <div id="cardCvc" class="form-control">
                                <!-- a stripe element will be inserted here  -->
                            </div>
                            <div id="cardCvc-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="postalCode"> Zip/Postal Code </label>
                            <div id="postalCode" class="form-control">
                                <!-- a stripe element will be inserted here  -->
                            </div>
                            <div id="postalCode-errors"></div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary btn-block">Subscribe</button>
            </form>
        </div>
    </div>
    <!-- <div ng-if="processingRequest">
                <div>
                    Processing your request
                </div>
                <img ng-if="processingRequest" src="/assets/images/animated-boat-.gif">
                <div>
                    Please wait while we help you sail better.
                </div>
            </div> -->
</div>
<div ng-include="'components/footer/footer.html'"></div>