.icon-flag, .icon-note, .icon-photo{
  width: 19px;
  height: 23px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-flag{
  width: 20px;
  background-image: url(../img/icon-flag.png);
}

.icon-note{
  background-image: url(../img/icon-note.png);
}

.icon-photo{
  background-image: url(../img/icon-photo.png);
}



.cursor-pointer{
  cursor:pointer;
}

.fa-1x5{
  font-size: 1.5em;
}

.fa-7x {
  font-size: 8em;
}

