<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p ng-hide="isAdmin()">This page is restricted to administrators.</p>

  <div class="panel panel-default">
    <div class="panel-body">
      <a href="/boatadmin/boxexec">see all remote command executions</a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <button class="btn btn-default" ng-click="toggleAll()">toggle selection</button>
      <button class="btn btn-default" ng-click="setSelectionAll(false)">select none</button>
      <button class="btn btn-default" ng-click="setSelectionAll(true)">select all</button>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="boat in boats">
        <input type="checkbox" ng-model="boat.selected"/>
        <strong>{{boat.name}}</strong><br>
        <span class="text-muted">{{boat.type}} {{boat.sailnumber}} {{ boat.anemobox}}</span>
        <span class="pull-right">
          <a ng-click="delete(boat)" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
        </span>
    </li>
  </ul>

  <div class="form-group">
    <label for="remoteCommand">Remote command execution:</label>
    <textarea class="form-control" rows="5" id="remoteCommand" ng-model="remoteCommand"></textarea>
    
    <button class="btn btn-default" ng-click="sendCommand('sh')">Send shell command to selected boats</button>
    <button class="btn btn-default" ng-click="sendCommand('js')">Run javascript on selected boats</button>
  </div>

</div>
