
#instruments li {
	display: inline-block;
	margin: 2px;
	padding: 2px;
	border: 2px solid rgba(255,0,255,.3);
	white-space:nowrap;
}

#instruments span {
	display: inline-block;
	min-width: 3em;
}

#instruments ul {
	padding-left: 0;
}

#raceViewer {
	background-color: #fff;
	border: 1px solid #333;
}

