html { 
  background: url('/images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  background-color: transparent;
}
.svgContainer {
  overflow: hidden;
  width:100%;
  height:100%;
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
}
.container {
  position:relative;
  z-index:9999;
}
.races {
  margin-right: 5px;
}
.adaptive-svg
{
    width: 100%;
    min-width: 250px;
    height: auto;
}

#sliderWrapper {
  display:block;
  padding:20px;
  width:100%;
  position:fixed;
  /*position: absolute;*/
  bottom:0;
  left:10px;
}
.slider.slider-horizontal {
  position: relative;
  width: 100%;
  height: 20px;
}
#btns {
  position: relative;
  height: 20px;
}
