<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div ng-controller="PathController">
    <leaflet center="map.position" width="100%" height="400" defaults="map.defaults" layers="map.layers"></leaflet>
    <form>
      Latitude : <input type="number" step="any" ng-model="map.position.lat" />
      Longitude : <input type="number" step="any" ng-model="map.position.lng" />
      Zoom : <input type="number" step="any" ng-model="map.position.zoom" />
    </form>
  </div>

<footer class="footer">
  <div class="container">
      <p>&copy; 2014 <a href="http://anemomind.com">Anemomind</a></p>
  </div>
</footer>
