
#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


/* NEW CSS VERSION */
.navbar-static-top{
  position: fixed;
  top: 0;
  right: 0;
  left:0;
}


.footer {
  float: left;
  width: 100%;
  clear: both;
  bottom: 0;
  margin-bottom: -20px;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 250px;
  color: #fff;
  padding: 20px;
  background-color: #333;
  text-shadow:0 0 1px rgba(0,0,0,1);
  background: linear-gradient( #222, #333);
  padding-top: 40px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer .dropdown-header{
  color: #aaa;
  padding: 3px;
  font-weight: 700;
  font-size: 14px;  
}

.footer ul>li {
  list-style:none;  
}

.footer ul>li>a {
  color: #666;
  text-decoration: none;
  padding: 3px;
  font-size: 13px;
}
