<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-if="isLoggedIn" class="container">
  <div class="col-xs-12 nopadding" ng-repeat="boat in boats | orderBy:boatFreshness:true">
        <boat-summary boat-id="boat._id" class="boat-summary"></boat-summary>
  </div>
</div>

<div ng-if="!isLoggedIn" class="container">
<p>Please <a href="/login">login</a></p>
</div>

<footer class="footer">
  <div class="container">
      <p>&copy; 2014 <a href="http://anemomind.com">Anemomind</a></p>
  </div>
</footer>
