<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-if="isLoggedIn" class="container">
  <h3>My boats</h3>
  <br />
  <div class="row">
    <div class="col-md-6" ng-repeat="boat in boats | orderBy:boatFreshness:true">
          <boat-summary boat-id="boat._id"></boat-summary>
    </div>
  </div>
</div>

<div ng-if="!isLoggedIn" class="container">
<p>Please <a href="/login">login</a></p>
</div>

<footer class="footer">
  <div class="container">
      <p><a href="http://anemomind.com">Anemomind</a></p>
  </div>
</footer>
